
body{
	font-family: @robo;
	font-size: 14px;
}


.header-logo{
	.paleft(@20);
	.patop(@20);
	.mabot(@20);
	z-index: 9999;

}

.yellow-balken{
	min-width: 100%;
	height: 30px;
	background-color: @yellow-dark;
}

/*content index html purchase*/

.purchase{
	.purchase-place{
		.paleft(@10);
		.pari(@10);
	}
	.purchase-headline{
		font-weight: @bold;
		font-size: 1.3em;
		text-align: left;
		line-height: 1.3em;
		color: @grey-dark;
		.matop(@10);
		.pabot(@10);
		word-wrap: break-word;
	}
	p.purchase-txt{
		font-weight: @thin;
		text-align: left;
		font-size: 1em;
		line-height: 1.3em;
		word-wrap: break-word;
		white-space: normal;
		color: @grey-dark;
	}
	.list-txt{
		.paleft(@20);
	}
}

/* info.html*/

.stern-info{
	.col-md-12{
		.pari(0);
		.paleft(0);
	}
}

/* background- info.html text*/
.colorbox-yellow-light{
	background-color: @yellow-light;
	.patop(@20);
	.pabot(@20);

}

/* objekte */
.objekte{
	.matop(@20 * 2);
	.mabot(@20);
}

/* map anfahrt und info.html*/

#map-canvas {
  height: 480px;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 2em;
 }

 .maps{
	.matop(@20);
}


/* video*/
.video-center{
	.flex;
	.justicenter;
	.matop(@20);

	}

/* footer */
.footer-txt{
	color: @grey-dark;
	font-size: 0.8em;
	font-weight: @med;
	.letspace;
	.patop(@05);
	
	.footer-impressum{
		text-decoration: none;
		color: @grey-dark;
	}
}
footer a:hover{
	font-weight: @bold;
}

footer{
	.matop(@20);
}


.kontakt-txt{
	.paleft(@10);
}

.kontakt{
	.paleft(@10);
	a{
		color: @grey-dark;
		font-weight: @bold;
		.letspace;
	}
}

/*impressum*/

.address-txt{
	max-width: 50%;
	.paleft(@10);
}

.web-design{
	.stern-headline{
		font-size: 1.1em;
	}
	.logo-fastlane{
		max-width: 40%;
		.paleft(@10);
	}
	.web-link{
		.paleft(@10);
		.patop(@10);
		a{
			color: @grey-dark;
			font-weight: @bold;
			.patop(@05);
		}
		a:hover{
			font-weight: @boldit;
		}
	}
}

.stern-headline{
	.paleft(@05);
}

@media(min-width: 360px){
	.web-design{
		.stern-headline{
			font-size: 1.1em;
			padding-left: 0.5em;
			}
		.logo-fastlane{
			max-width: 40%;
			.paleft(@10);
			}
	}
} //360

@media(min-width: 480px){
	.web-design{
		.stern-headline{
			font-size: 1.1em;
			}
		.logo-fastlane{
			max-width: 35%;
			.paleft(@10);
			}
	}
} //480

@media(min-width: 667px){
	.web-design{
		.stern-headline{
			font-size: 1.1em;
			}
		.logo-fastlane{
			max-width: 25%;
			.paleft(@10);
			}
	}
} //667


@media(min-width: 992px){
	.web-design{
		.logo-fastlane{
			max-width: 35%;
			.paleft(@10);
			}
	}
} //992

@media(min-width: 1199px){
	.web-design{
		.logo-fastlane{
			max-width: 30%;
			.paleft(@10);
			}
	}
} //1199




	p.stern-txt{
		font-weight: @thin;
		text-align: left;
		font-size: 1em;
		line-height: 1.3em;
		word-break: normal;
		white-space: normal;
		color: @grey-dark;
		.pari(@10);
		.paleft(@10);

		a{
			color: @grey-dark;
			font-weight: @bold;
		}
		a:hover{
			font-style: italic;
			.letspace;
			color: @grey-dark;
		}
	}

.kontakt{
	.mabot(@10);
}

.impressum-txt-allg{
	.paleft(@10);
	
	.impressum-txt-detail{
		.paleft(@10);
	}
	.impressum-headline{
		font-size: 1.1em;
		color: @grey-dark;
		.patop(@05);
	}
	.impressum-txt{
		max-width: 90%;
		font-weight: @thin;
		text-align: left;
		font-size: @10;
		line-height: 1.4em;
		word-break: normal;
		white-space: normal;
		color: @grey-dark;
		.paleft(@05);
		.patop(@05);
	}
}


/* back to top  */
#topcontrol {
   color: #fff;
   z-index: 99;
  }
  #topcontrol:after {
  	top: -2px;
  	left: 8.5px;
  }
  #topcontrol:hover{
  	color: @yellow-dark;
  	background: @grey-dark;
  }

#topcontrol {
    color: @yellow-dark;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #222;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

#topcontrol:after {
    top: -2px;
    left: 8.5px;
    content: "\f106";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
}

/* dropdown */

.dropdown-menu{
	min-width: 240px;
}

.list-town{
		padding-left: @20;
		li{
			.pabot(@05);
			a{
				color: @grey-dark;
				.letspace;
			}
			a:hover{
				color: @yellow-dark;
			}
		}
}

.dropdown-menu > li > a{
	.paleft(@05);
}

.dropdown-menu >li{
	.drop-stand{
		border-left: 8px solid @yellow-dark;
		background-color: @grey-lighter;
	}
}

/* backlink objekt */

.backlink-objekt{
	color: @grey-dark;
}

.backlink-objekt:hover{
	font-weight: @bold;
	text-decoration: none;
}

.objekt-link{
	color: @grey-dark;
	font-size: 1.4em;
}
.objekt-link:hover{
	font-style: italic;
	font-weight: @bold;
	color: @grey-dark;
	.letspace;
	text-decoration: none;
}

.purchase{
	.mabot(@20);
}
/* lageplan picture */


.placer{
	.matop(@20);
	.mabot(@20);
}

@media(min-width: 320px){
	.placer{
		.maleft(8%);
		.mari(8%);
	}
}


/* list objekte */

.list-objekte{
	.maleft(@20);
	min-width: 94.1%;
	background-color: @grey-dark;
	padding: @10 0;
	li{
		a{
			color: @yellow-dark;
			padding: @10 @10;
		}
	}
	.dropdown-menu{
		background-color: @grey-dark;
	}
}



/* index stern-map*/
@media(min-width: 768px)
and(max-width: 1199px){
	.stern-map{
		.paleft(15px);
		.pari(15px);
	}
}

/* Startsite unsere objekte panel */

@media(min-width: 768px){
	.objekt-panel{
		.col-xs-12,.col-sm-5{
			.paleft(0);
		}
	}
}

@media(min-width: 1191px){
	.objekte{
		margin-top: 5em;
		}
}

.maps{
	.matop(@20);
}



/*  only css IE*/
.ie10{
		.web-design .logo-fastlane{
		max-width: 40%;
		height: 40%;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
and(min-width: 1199px){
   /* IE10-specific styles go here */
   .web-design{
		.logo-fastlane{
			max-width: 30%;
			height: 30%;
			.paleft(@10);
			}
	}
}


area{
	display: blocK;
	cursor: pinter;
}

